<style>
body {margin: 0 auto;
}

body {
  text-align: center;
}
</style>

<link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

 <header>
    <h2>Rakutinder</h2>

      <%= form_tag("/result", :validate=> true, :method => :get ) do %>

<h5>第一希望日<%= date_field("first", "born_on", :id => 'date_1',
                                value: Time.now.strftime("%Y-%m-%d")) %>


　　第二希望日<%= date_field("second", "born", :id => 'date_2', 
                                value: Time.now.strftime("%Y-%m-%d")) %>


　性別　<%= select_tag 'gender', options_for_select({"男性" => "m", "女性" => "f"}) %>


<h4><button id="submit" onClick="return check()">検索する</button></h4>
<% end %>
</header>

<% if @dates.present? %>
<% @dates.each do |date| %>
<div class="col-xs-12 col-md-4 col-lg-3">
<p></p>
<p><%= image_tag date.avatar.url(:medium) %></p>
<h4><a href ="/users/<%= date.id %>">ニックネーム : <%= date.nickname %></a></h4>
</div>
<% end %>
<% end %>

<% if @dates.empty? %>
<h3>一人もいませんでした</h3>
<% end %>

